*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines what 1rem is: 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 2.5rem;
  background-color:#f0f8ff;
}

.container {
  padding: 1rem;
  width: 50rem;
  height: 63rem;
  border: 0.2rem solid #c4b0b0;
  border-radius: 0.7rem;
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

h1 {
  text-align: center;
  padding-top: 1rem;
}

.header {
  padding: 1rem 1rem;
  text-indent: 0;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 1.5rem;
  margin: 0.5rem 0 2.2rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 0.7rem;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #dddddd;
  outline: none;
}

hr {
  border: 0.1rem solid #f1f1f1;
  margin-bottom: 2.5rem;
}

.btn {
  background-color: #04AA6D;
  color: #ffffff;
  padding: 1.6rem 2rem;
  margin: 0.8rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.7rem;
  font-size: 2rem;
}

.btn:hover {
  opacity: 1;
}

.terms-privacy {
  font-size: 1.6rem;
  text-align: center;
  padding: 0;
  text-indent: 0;
}

a {
  color: #1e90ff;
}

p {
  padding: 4rem;
  text-indent: 4rem;
  line-height: 3.5rem;
}

.cartoon {
  width: 45rem;
  margin-left: 4rem;
  margin-top: 4rem;
}