*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines what 1rem is: 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-size: 2.5rem;
  background-color:aliceblue;
}

span {
  position: absolute;
  right: 20rem;
  cursor: pointer;
  color: red;
  font-weight: 700;
}

input {
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 3rem 0;
}

.btn {
  padding: 0.7rem 3rem;
  border-radius: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #ce9a2b;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color:  #d0a340;
}

.btn:active {
  background-color: #d0a340; 
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.4rem);
}